extends ./layout.jade

block title
  title Success!

block content
  h1 Image Uploaded Successfully!
  p.
    However, your image was too small to have thumbnails.
    Here's the permanent link to the image:
  a(href=baseUrl + '.' + ext) Permalink
  br
  p Here's a previw:
  br
  img(src=baseUrl + '.' + ext)
